#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:
	security:
		hashingCost: 12

php:
	date.timezone: Europe/Prague
	# zlib.output_compression: yes


nette:
	session:
		expiration: 14 days

extensions:
	restApp: Markatom\RestApp\DI\Extension
	console: Kdyby\Console\DI\ConsoleExtension
	events: Kdyby\Events\DI\EventsExtension
	annotations: Kdyby\Annotations\DI\AnnotationsExtension
	doctrine: Kdyby\Doctrine\DI\OrmExtension

doctrine:
	filters:
		DeletedFilter: App\Model\Sql\DeletedFilter
	metadata:
		App\Model\Entity: %appDir%/model/entity

console:
	url: http://localhost

services:
	router: Nette\Application\Routers\RouteList
	apiRouter: Routing\RouterFactory::create()

	filters:
		factory: @Kdyby\Doctrine\EntityManager::getFilters
		setup:
			- enable(DeletedFilter)
		tags: [run]

	#################### services ####################

	- App\Model\Service\UserService(%security.hashingCost%, ...)
	- App\Model\Service\SessionService
	- App\Model\Service\NotificationService
	- App\Model\Service\SongService

	#################### commands ####################

	addUserCommand:
		class: App\Console\AddUserCommand
		tags: [kdyby.console.command]